<section class="home-section" id="home">
  <div class="container">
    <h1 class="home-title">Build the harbor. Launch the fleet.<br/> <span class="span">Rule the shipyard.</span></h1>
    <p class="home-description">In Iron Harbor: Shipyard Builder, you're running this crazy busy port - managing docks, cranes, production lines, the
    whole thing. Start with a modest yard and turn it into a powerful shipbuilding empire. Construct vessels, automate
    workflows, unlock advanced machinery, and watch your harbor evolve into a this huge operation packed with steel, cargo,
    and non-stop action.</p>
    <a href="#how" class="home-button">
        <p>See How It Works</p>
    </a>
  </div>    
</section>