body{
  background: #02070a;
  font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}
h2{
  font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}
@media only screen and (min-width: 1440px) {
  body{
    font-size: 22px;
  }
  h2{
    font-size: 62px;
    margin-bottom: 50px;
  }
}