.home-section{
background-image: url("/img/home/mob.png");
background-repeat: no-repeat;
background-position: top center;
background-size: cover;
height: 752px;
}
.home-wrapper{
    width: 333px;
    margin-left: auto;
    margin-right: auto;
}
.home-title{
    margin-top: 170px;
    font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-size: 28px;
        color: #fff;
        margin-bottom: 30px;
}
.span{
    color: #e59d00;
}
.home-button{
    margin-top: 20px;
    border-radius: 20px;
        padding: 21px;
        width: 214px;
        height: 39px;
background: #e59d00;
display: flex;
align-items: center;
justify-content: center;
font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #000;
}
@media only screen and (min-width: 1440px) {
.home-section{
background-image: url("/img/home/desk.png");
height: 959px;
}
.home-wrapper{
width: 735px;
    margin-left: 0;
    margin-right: auto;
}
.home-title{
font-size: 62px;
margin-bottom: 50px;
}
.home-description{
    width: 580px;
}
.home-button{
    margin-top: 30px;
padding: 21px 102px;
    width: 385px;
    height: 80px;
background: #e59d00;
font-size: 32px;
}    
}
/* From Rust to Power */
.from-wrapper{
    background-image: url("/img/from/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 50px;
        width: 357px;
        height: 497px;
        margin-left: auto;
        margin-right: auto;
        padding: 40px 27px;
}
.from-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media only screen and (min-width: 1440px) {
.from-container{
    padding-top: 116px;
}
.from-wrapper {
    background-image: url("/img/from/desk.png");
width: 1176px;
    height: 588px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 190px 60px 195px;
}

.from-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
}