.home-section{
background-image: url("/img/home/mob.png");
background-repeat: no-repeat;
background-position: top center;
background-size: cover;
height: 752px;
}
.home-wrapper{
    width: 333px;
    margin-left: auto;
    margin-right: auto;
}
.home-title{
    margin-top: 170px;
    font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-size: 28px;
        color: #fff;
        margin-bottom: 30px;
}
.span{
    color: #e59d00;
}
.home-button{
    margin-top: 20px;
    border-radius: 20px;
        padding: 21px;
        width: 214px;
        height: 39px;
background: #e59d00;
display: flex;
align-items: center;
justify-content: center;
font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #000;
}
@media only screen and (min-width: 1440px) {
.home-section{
background-image: url("/img/home/desk.png");
height: 959px;
}
.home-wrapper{
width: 735px;
    margin-left: 0;
    margin-right: auto;
}
.home-title{
font-size: 62px;
margin-bottom: 50px;
}
.home-description{
    width: 580px;
}
.home-button{
    margin-top: 30px;
padding: 21px 102px;
    width: 385px;
    height: 80px;
background: #e59d00;
font-size: 32px;
}    
}
/* From Rust to Power */
.from-wrapper{
    background-image: url("/img/from/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 50px;
        width: 357px;
        height: 497px;
        margin-left: auto;
        margin-right: auto;
        padding: 40px 27px;
}
.from-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media only screen and (min-width: 1440px) {
.from-container{
    padding-top: 116px;
}
.from-wrapper {
    background-image: url("/img/from/desk.png");
width: 1176px;
    height: 588px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 190px 60px 195px;
}
}
/* How the Shipyard Works */
.arrow{
 stroke: #fff;   
}
.how-next{
    transform: rotate(180deg);
}
.how-container{
    padding-left: 50px;
    padding-right: 50px;
}
.how-swiper .swiper-slide{
border: 1px solid #e59d00;
padding: 1px;
border-radius: 40px;
    width: 274px;
    height: 391px;
}
.how-img{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

}
.how-slide-title{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #e59d00;
}
.how-slide-text{
    padding: 0 12px 20px;
    font-size: 12px;
        text-align: center;
}
.swiper-controls {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    gap: 4px;
}

.how-prev,
.how-next {
    width: 29px !important;
    height: 29px !important;
    border-radius: 100%;
    border: 1px solid #fff;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.how-prev:hover,
.how-next:hover{
background-color: #e59d00;
border: inherit;

}
.how-prev:hover .arrow,
.how-next:hover .arrow {

    stroke: #000;
}
.swiper-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-top: 20px;

    margin-left: auto;
    margin-right: auto;
}

.how-pagination {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 64px !important;

}

.how-pagination .swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    background: rgba(255, 255, 255, 0.6);
    opacity: 1;
}

.how-pagination .swiper-pagination-bullet-active {
    background: #fff;
    width: 6px;
    height: 6px;
}
@media only screen and (min-width: 1440px) {
  .swiper-controls{
    display: none;
  }
.how-swiper .swiper-wrapper{
    justify-content: center;
    gap: 20px;
}
.how-swiper .swiper-slide{
width: 274px;
    height: 438px;
    display: flex;
flex-direction: column;
align-items: center;
}
.how-slide-title{
    font-size: 24px;
}
.how-slide-text{
    font-size: 16px;
    padding-left: 4px;
    padding-right: 4px;
}
}
/* Idle Progress with Real Weight */
.idle-text-wrapper{
    display: flex;
    flex-direction: column;
width: 282px;
gap: 20px;
margin-left: auto;
margin-right: auto;
}
.idle-list-title{
    margin-top: 20px;
    font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #e59d00;
        margin-bottom: 30px;
}
.idle-list{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.idle-item{
    display: flex;
    align-items: center;
    gap: 24px;
}
.idle-img{
width: 53px;
    height: 47px;
}
@media only screen and (min-width: 1440px) {
.idle-text-wrapper{
width: 690px;
font-size: 20px;
}
.idle-list-title{
    margin-top: 50px;
font-size: 34px;
}
.idle-list{
width: 536px;
margin-left: auto;
margin-right: auto;
    gap: 10px;
}
.idle-item{
font-size: 20px;
    gap: 24px;
}
.idle-img{
width: 75px;
    height: 67px;
}    
}
/* FAQ */
.faq-acc {
    display: flex;
    flex-direction: column;
    width: 343px;
    margin: 40px auto 0;
    gap: 12px;

}

.faq-acc-el {
    position: relative;
    transition: margin-bottom 0.3s ease;
border: 1px solid #e59d00;
    border-radius: 24px;
    width: 353px;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.1), 0 4px 6px -1px rgba(0, 0, 0, 0.1);
        background: linear-gradient(135deg, rgba(255, 237, 164, 0.04) 0%, rgba(229, 157, 0, 0.03) 100%);
}


.faq-acc-el-title {
    margin-bottom: 0;
}

.faq-acc-el-trigger {
    border: none;
    background: inherit;
    width: 100%;
font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    padding: 20px;
    margin-bottom: 0;
    cursor: pointer;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}


.faq-acc-arr {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    transition: transform 0.3s ease;
    border: none;
    background-color: inherit;

}

.faq-acc-arr.is-hidden {
    display: none;
}

.faq-acc-el.open .faq-acc-arr {
    transform: rotate(180deg);
}

.faq-acc-el-descr-frame {
    background: inherit;
font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    text-align: left;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease, border-bottom 0.3s ease;
}

.faq-acc-el.js-enabled .faq-acc-el-descr-frame {
    visibility: hidden;
}


.faq-acc-el.open .faq-acc-el-descr-frame {
    visibility: visible;
    opacity: 1;
    border: none;
    background: none;
font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    border-top: 1px solid #e59d00;
padding: 10px 20px;
    max-height: 500px;
}


@media only screen and (min-width: 1440px) {
    .faq-container {
padding-bottom: 100px;
    }
.mob{
    display: none;
}
    .faq-acc {
width: 896px;
    }

    .faq-acc-el {
width: 896px;
    }

    .faq-acc-el-trigger {
font-size: 20px;
    }

    .faq-acc-el-descr-frame {
font-size: 18px;
    }

    .faq-acc-el.open .faq-acc-el-descr-frame {
font-size: 18px;
padding-right: 60px;
    }
}